@if (IsVisible)
{
    if (IsValid && IsSuccess)
    {
        <div id="serverValidationsDiv" class="col-10 alert alert-success row">
            <div class="col-11" style="text-align: left">
                <span>@*Information om: @ChildContent *@Sparad!</span>
            </div>
            <div class="col-1" style="text-align: right">
                <a style="text-underline-position:below; cursor: pointer" @onclick="(() => CloseServerValidations())">x</a>
            </div>
        </div>
    }
    else //ifall error uppstår
    {
        <div id="serverValidationsDiv" class="col-10 alert alert-danger row">
            <div class="col-11" style="text-align: left">
                <span>Något gick fel!</span>
            </div>
            <div class="col-1" style="text-align: right">
                <a style="text-underline-position:below; cursor: pointer" @onclick="(() => CloseServerValidations())">x</a>
            </div>
        </div>
    }
}
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public bool IsVisible { get; set; }
    [Parameter]
    public bool IsValid { get; set; }
    [Parameter]
    public bool IsSuccess { get; set; }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
    private void CloseServerValidations()
    {
        IsVisible = false;
    }
}
