@page "/People/persondetail/{personid:int}"


@using BlazorDemo.DataAccess.Models
@using BlazorDemo.UI.Models
@using Microsoft.Extensions.Configuration
@using System.Text.Json
@using JsonSerializer = System.Text.Json.JsonSerializer


@inject HttpClient HttpClient
@inject IConfiguration Configuration


<h4>@_displayPerson.FirstName</h4>
<h4>@_displayPerson.LastName</h4>
<h4>@_displayPerson.EmailAddress</h4>

@code {
    [Parameter]
    public int PersonId { get; set; }

    readonly DisplayPerson _displayPerson = new DisplayPerson();
    Person _person = new Person();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var apiBaseUri = Configuration.GetSection("ApiBaseUri").Value;
            //_person = await HttpClient.GetJsonAsync<Person>($"{apiBaseUri}/api/people/getperson/{PersonId}");

            var result = HttpClient.GetAsync($"{apiBaseUri}/api/people/getperson/{PersonId}", HttpCompletionOption.ResponseHeadersRead);
            var contentStream = await result.Result.Content.ReadAsStreamAsync();
            _person = await JsonSerializer.DeserializeAsync<Person>(contentStream, new JsonSerializerOptions { IgnoreNullValues = true, PropertyNameCaseInsensitive = true });

            _displayPerson.FirstName = _person.FirstName;
            _displayPerson.LastName = _person.LastName;
            _displayPerson.EmailAddress = _person.EmailAddress;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
